.carousel-image-wrapper {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 38%;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
    min-height: 177px;
}

.carousel-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top;
}