.carousel-image-wrapper {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 38%;
    cursor: pointer;
}

.carousel-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}