.card-image-wrapper {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 38%;
    margin: 0.5rem 0rem;
    cursor: pointer;
}

.card-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}