.css-10swmou {
    margin: 0.5rem auto 1rem auto !important;
}

.css-132qk78 {
    bottom: 50px !important;
    max-height: 10000000000000% !important;
}

.css-2837ub {
    margin-top: 9rem !important;
}