.css-10swmou {
  margin: 0.5rem auto 1rem auto !important;
}

.css-132qk78 {
  bottom: 50px !important;
  max-height: 10000000000000% !important;
}

.css-2837ub {
  margin-top: 9rem !important;
}

.livechat {
  position: absolute;
  /* background: white; */
  bottom: 0;
  width: 100vw;
  color: white;
  /* border: 2px solid red; */
}
.f {
  border: 2px solid red;
}

.livechat-container {
  padding: 5px 15px;
}
.livechat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-text {
  color: rgb(180, 171, 171);
  text-transform: capitalize;
  font-weight: 700;
}

.chats {
  max-width: 300px;
  color: white;
  padding: 0px;
  height: 35vh;
  overflow-y: scroll;
  z-index: auto;
  flex-direction: column;
  display: flex;
}

.chats-text {
  font-family: SF Pro Text;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.livechat-footer {
  position: fixed;
  align-items: center;
  width: max-content;
  bottom: 0;
}
.form {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
}
.livechat-form_input {
  vertical-align: bottom;
  padding: 10px 4px 0px 6px;
  flex-grow: 1;
  word-wrap: break-word;
  outline: none;
  border: 0px;
  background: none;
  color: white;
}

/* ::placeholder {
    color: white;
  } */

.livechat-form_button {
  outline: none;
  padding: 0px;
  background: none;
  border: none;
  color: white;
}

.white {
  color: white;
}

.like {
  position: absolute;
  bottom: 60px;
  right: 40px;
  animation: bubble 1.5s linear normal;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  25% {
    opacity: 0.6;
    color: crimson;
  }
  50% {
    opacity: 1;
    color: aqua;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-45vh);
    opacity: 0;
  }
}

.bubbles:nth-child(1) {
  animation-delay: 0.2s;
  width: 50px;
}
.bubbles:nth-child(2) {
  animation-delay: 0.4s;
  width: 25px;
}
.bubbles:nth-child(3) {
  animation-delay: 0.6s;
  width: 18px;
}
.bubbles:nth-child(4) {
  animation-delay: 0.7s;
  width: 10px;
}

.comments-textarea__control {
  /* margin-top: 5px; */
  margin-bottom: 5px;
  width: max-content;
}
.comments-textarea__input {
  flex-grow: 1;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  padding: 10px 10px 10px 15px;
  font-size: 10px;
  line-height: 1.42857143;
  color: #fff;
  border: none;
}
.comments-textarea__highlighter {
  opacity: 0;
  padding: 1;
  margin-left: -1;
  border-radius: 3;
  padding: 10px;
}

textarea #textarea {
  outline: none;
}

/* form #form {
   
  } */
